<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<parameter name="resort" value="Goa Marriott Resort &amp; Spa" />
	<parameter name="sortBy" value="Rating &amp; Popularity" />
	<test thread-count="5" name="TrivagoTest">
		<classes>
			<class name="mytest.TrivagoTest" />
		</classes>
	</test>
</suite> 
